.footer{
    background-color:#f2f2f2;
    width: 100%;
    padding: 0 20px;
}
.footer a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}
.footer_top, .footer_bottom{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer_bottom_left, .footer_bottom_right{
    display: flex;
    align-items: center;
    gap: 20px;
}