.logo{
    max-height: 92px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}

.logo img{
    height: 92px;
}

@media screen and (max-width: 768px) {
    .logo, .logo img{
        height: 32px;

    }
}